@import "basscss";
@import "basscss-colors";
@import "basscss-background-colors";

@import "./colors";
@import "./fonts";
@import "./borders";
@import "./shame";

:root {
    --h1: 70px;
}


* {
    margin: 0;
    color: var(--black);
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: var(--lime);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0.4rem 0;
    font-family: 'Oswald', sans-serif;
}